<div id="<%= dom_id applicant %>" class="bg-white shadow-md rounded my-6 p-6">
  <% if notice.present? %>
    <p id="notice" class="bg-green-50 text-green-500 px-3 py-2 font-medium rounded-lg mt-3 absolute top-0 left-1/2 transform -translate-x-1/2 z-50" data-notice-visible="true">
      <%= notice %>
    </p>
  <% end %>

  <div class="flex flex-wrap -mx-2">
    <div class="w-2/5 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.name') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.name %></span>
    </div>
    <div class="w-1/5 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.cpf') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.cpf %></span>
    </div>
    <div class="w-1/5 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.birth_date') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.birth_date %></span>
    </div>
  </div>

  <div class="flex flex-wrap -mx-2">
    <div class="w-3/5 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.address') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.address %></span>
    </div>
    <div class="flex w-2/5 -mx-2">
      <div class="w-1/2 px-2 mb-4">
        <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.number') %>:</strong>
        <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.number %></span>
      </div>
      <div class="w-1/2 px-2 mb-4">
        <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.neighborhood') %>:</strong>
        <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.neighborhood %></span>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap -mx-2">
    <div class="w-1/3 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.city') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.city %></span>
    </div>
    <div class="w-1/3 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.state') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.state %></span>
    </div>
    <div class="w-1/3 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.zip') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.zip %></span>
    </div>
  </div>

  <div class="flex flex-wrap -mx-2">
    <div class="w-1/4 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.phone') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.phone %></span>
    </div>
  </div>

  <div class="flex flex-wrap -mx-2">
    <div class="w-1/3 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.salary') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.salary %></span>
    </div>
    <div class="w-1/3 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.inss_contribution_rate') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.inss_contribution_rate %></span>
    </div>
    <div class="w-1/3 px-2 mb-4">
      <strong class="text-xs block font-medium mb-1"><%= t('views.applicants.salary_deduction') %>:</strong>
      <span class="min-h-[33px] block shadow rounded-md border border-gray-200 px-3 py-2 w-full text-xs"><%= applicant.salary_deduction %></span>
    </div>
  </div>
</div>
