<div id="<%= dom_id applicant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= applicant.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cpf:</strong>
    <%= applicant.cpf %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Birth date:</strong>
    <%= applicant.birth_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= applicant.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= applicant.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Neighborhood:</strong>
    <%= applicant.neighborhood %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= applicant.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= applicant.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Zip:</strong>
    <%= applicant.zip %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= applicant.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Salary:</strong>
    <%= applicant.salary %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Inss contribution rate:</strong>
    <%= applicant.inss_contribution_rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Salary deduction:</strong>
    <%= applicant.salary_deduction %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this applicant", applicant, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this applicant", edit_applicant_path(applicant), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
