<%= form_with(model: applicant, class: "contents") do |form| %>
  <% if applicant.errors.any? %>
    <div id="notice" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3 absolute top-0 left-1/2 transform -translate-x-1/2 z-50" data-notice-visible="true">
      <h2>
        <%= t('activerecord.errors.template.header.other', count: applicant.errors.count, model: t('activerecord.models.applicant.other')) if applicant.errors.count > 1 %>
      </h2>
      <ul>
        <% applicant.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-wrap -mx-2">
    <div class="flex w-full -mx-2">
      <div class="w-2/5 px-2 mb-4">
        <%= form.label :name, t('views.applicants.name'), class: "text-xs block" %>
        <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
      </div>
      <div class="w-1/5 px-2 mb-4">
        <%= form.label :cpf, t('views.applicants.cpf'), class: "text-xs block" %>
        <%= form.text_field :cpf, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
      </div>
      <div class="w-1/5 px-2 mb-4">
        <%= form.label :birth_date, t('views.applicants.birth_date'), class: "text-xs block" %>
        <%= form.date_field :birth_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
      </div>
    </div>

    <div class="flex w-full -mx-2">
      <div class="w-3/5 px-2 mb-4">
        <%= form.label :address, t('views.applicants.address'), class: "text-xs block" %>
        <%= form.text_field :address, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
      </div>
      <div class="flex w-2/5 -mx-2">
        <div class="w-1/2 px-2 mb-4">
          <%= form.label :number, t('views.applicants.number'), class: "text-xs block" %>
          <%= form.text_field :number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
        </div>
        <div class="w-1/2 px-2 mb-4">
          <%= form.label :neighborhood, t('views.applicants.neighborhood'), class: "text-xs block" %>
          <%= form.text_field :neighborhood, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
        </div>
      </div>
    </div>

    <div class="flex w-full -mx-2">
      <div class="w-1/3 px-2 mb-4">
        <%= form.label :city, t('views.applicants.city'), class: "text-xs block" %>
        <%= form.text_field :city, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
      </div>
      <div class="w-1/3 px-2 mb-4">
        <%= form.label :state, t('views.applicants.state'), class: "text-xs block" %>
        <%= form.text_field :state, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
      </div>
      <div class="w-1/3 px-2 mb-4">
        <%= form.label :zip, t('views.applicants.zip'), class: "text-xs block" %>
        <%= form.text_field :zip, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
      </div>
    </div>

    <div class="flex w-full -mx-2">
      <div class="w-1/4 px-2 mb-4">
        <%= form.label :phone, t('views.applicants.phone'), class: "text-xs block" %>
        <%= form.text_field :phone, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
      </div>
    </div>

    <div data-controller="salary">
      <div class="flex flex-wrap -mx-2">
        <div class="w-1/3 px-2 mb-4">
          <%= form.label :salary, t('views.applicants.salary'), class: "text-xs block" %>
          <%= form.text_field :salary, data: { action: "input->salary#calculate", salary_target: "salary" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
        </div>
        <div class="w-1/3 px-2 mb-4">
          <%= form.label :inss_contribution_rate, t('views.applicants.inss_contribution_rate'), class: "text-xs block" %>
          <%= form.text_field :inss_contribution_rate, readonly: true, id: "inss_contribution_rate", data: { salary_target: "contributionRate" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
        </div>
        <div class="w-1/3 px-2 mb-4">
          <%= form.label :salary_deduction, t('views.applicants.salary_deduction'), class: "text-xs block" %>
          <%= form.text_field :salary_deduction, readonly: true, id: "salary_deduction", data: { salary_target: "deduction" }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full text-xs" %>
        </div>
      </div>
    </div>

    <div class="flex justify-end mt-4 w-full">
      <div class="flex justify-start flex-grow">
          <%= link_to t('views.applicants.button.back'), applicants_path(paginated: true), class: "rounded-lg py-2 px-4 bg-gray-100 inline-block font-medium" %>
      </div>

      <div class="flex justify-end">
        <%= form.submit t('views.applicants.button.submit'), class: "rounded-lg py-2 px-4 bg-blue-600 text-white inline-block font-medium", id: "submit_button" %>
      </div>
    </div>
  </div>
<% end %>
