<main class="container mx-auto px-5 flex justify-center items-center min-h-screen w-full"">
  <div class="mx-auto md:w-2/3 w-full">
    <div class="bg-white shadow-md rounded my-6 p-6 -mt-10">
      <h1 class="font-bold text-3xl mb-6"> <%= t('views.applicants.edit_applicant')%> </h1>
        <%= render @applicant %>
      <div class="flex justify-between w-full mt-2">
        <%= link_to t('views.applicants.button.back'), applicants_path(paginated: true), class: "rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        <div>
          <%= button_to t('views.applicants.destroy_this_applicant'), applicant_path(@applicant), method: :delete, class: "rounded-lg py-3 px-5 bg-red-500 text-white font-medium" %>
        </div>
        <%= link_to t('views.applicants.edit_this_applicant'), edit_applicant_path(@applicant), class: "rounded-lg py-3 px-5 bg-blue-500 text-white font-medium" %>
      </div>  
    </div>
  </div>
</main>
