<div class="bg-blue-800">
  <nav class="flex items-center justify-between flex-wrap p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight">Banco do Braziu</span>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <div class="group inline-block relative">
        <%= link_to 'Candidato', applicants_path(paginated: true), class: "text-white hover:text-gray-300 mr-4" %>
          <div class="absolute hidden text-gray-700 pt-1 group-hover:block">
            <%= link_to 'Cadastrar', new_applicant_path, class: "rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" %>
            <%= link_to 'Listar', applicants_path(paginated: true), class: "bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" %>
          </div>
        </div>
        <div class="group inline-block relative">
          <%= link_to 'Relatório', salary_distributions_path, class: "text-white hover:text-gray-300 mr-4" %>
            <div class="absolute hidden text-gray-700 pt-1 group-hover:block">
              <%= link_to 'Visualizar', salary_distributions_path,  class: "rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" %>
            </div>      
          </div>      
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "text-white hover:text-gray-300" %>
      </div>
    </div>
  </nav>
</div>
