<div class="bg-white">
  <div class="container mx-auto px-4 py-8">
      <h1 class="text-2xl font-bold text-center mb-8">Relatório de Distribuição Salarial dos Funcionários</h1>

      <section class="mb-8">
          <p class="mb-6">Este relatório tem como objetivo apresentar uma visão detalhada da distribuição salarial dos funcionários da nossa empresa...</p>
          <p class="mb-6">O relatório visa não apenas fornecer uma fotografia atual da distribuição salarial, mas também servir como uma ferramenta...</p>

          <div class="mb-8">
              <table class="min-w-full bg-white shadow-md rounded">
                  <caption class="text-lg font-semibold p-4 text-gray-700">Tabela de Distribuição Salarial dos Funcionários</caption>
                  <thead>
                      <tr>
                          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Faixa Salarial</th>
                          <th class="px-6 py-3 border-b-2 border-gray-300 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Quantidade</th>
                          <th class="px-6 py-3 border-b-2 border-gray-300 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">Percentual</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% @salary_distribution.each do |faixa, dados| %>
                          <tr>
                              <td class="px-6 py-4 whitespace-nowrap"><%= dados[:name] %></td>
                              <td class="px-6 py-4 whitespace-nowrap text-center"><%= dados[:qtd] %></td>
                              <td class="px-6 py-4 whitespace-nowrap text-center"><%= dados[:percentual] %> %</td>
                          </tr>
                      <% end %>
                  </tbody>
              </table>
          </div>

          <div class="container mx-auto p-4 page-break-before">
          <h1 class="text-2xl font-bold text-center mb-4">Funcionários por Faixa Salarial</h1>
        
          <div class="mb-8">
            <table class="min-w-full bg-white shadow-md rounded print:text-xxs print:p-5 print:m-5">
              <caption class="text-lg font-semibold p-4 text-gray-700">Lista de Funcionários por Faixa Salarial</caption>
              <thead>
                <tr>
                  <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Faixa Salarial</th>
                  <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Funcionários</th>
                </tr>
              </thead>
              <tbody>
                <% @salary_distribution.each do |faixa, dados| %>
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap"><%= dados[:name] %></td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <% dados[:applicants].each do |applicant| %>
                        <div><%= applicant %></div>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

          <div class="grid gap-4 place-items-center page-break-before">
              <div class="b-4 w-full max-w-lg">
                  <h1 class="text-2xl font-bold text-center mb-4">Gráfico de Barras</h1> 
                  <div class="flex justify-center">
                      <canvas id="barChart" class="w-full h-96"></canvas>
                  </div>
              </div>
              <div class="b-4 w-full max-w-lg">
                  <h1 class="text-2xl font-bold text-center mb-4">Gráfico de Pizza</h1>
                  <div class="flex justify-center">
                      <canvas id="pieChart" class="w-full h-96"></canvas>
                  </div>
              </div>
          </div>
      </section>

      <section class="mb-8 page-break-before">
          <h1 class="text-2xl font-bold text-center mb-4">Análise</h1>
          <p class="mb-4">A maioria dos funcionários se encontra na faixa salarial de '<%= @faixa_maior_concentracao[1][:name] %>', representando <%= @faixa_maior_concentracao[1][:percentual] %>% do total.</p>
          <p class="mb-4">A menor concentração de funcionários está na faixa salarial de '<%= @faixa_menor_concentracao[1][:name] %>', representando apenas <%= @faixa_menor_concentracao[1][:percentual] %>% do total.</p>
      </section>

      <footer class="text-center mt-8 py-4 border-t-2 border-gray-300">
          <p>&copy; 2024 Banco do Braziu. Todos os direitos reservados.</p>
          <p>Relatório gerado em <%= Time.now.strftime('%d/%m/%Y') %>.</p>
      </footer>
  </div>

  <script>
    const dataBar = {
      labels: ['Até R$ 1.045,00', 'R$ 1.045,01 a R$ 2.089,60', 'R$ 2.089,61 até R$ 3.134,40', 'R$ 3.134,41 até R$ 6.101,06'],
      datasets: [{
        label: 'Número de Funcionários',
        data: [12, 19, 17, 5],
        backgroundColor: [
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(75, 192, 192, 0.5)',
          'rgba(153, 102, 255, 0.5)'
        ],
        borderColor: [
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)'
        ],
        borderWidth: 1
      }]
    };

    const dataPie = {
      labels: ['Até R$ 1.045,00', 'R$ 1.045,01 a R$ 2.089,60', 'R$ 2.089,61 até R$ 3.134,40', 'R$ 3.134,41 até R$ 6.101,06'],
      datasets: [{
        data: [12, 19, 17, 5],
        backgroundColor: [
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(75, 192, 192, 0.5)',
          'rgba(153, 102, 255, 0.5)'
        ],
        hoverOffset: 4
      }]
    };

    const configBar = {
      type: 'bar',
      data: dataBar,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    const configPie = {
      type: 'pie',
      data: dataPie,
    };

    var barChart = new Chart(
      document.getElementById('barChart'),
      configBar
    );

    var pieChart = new Chart(
      document.getElementById('pieChart'),
      configPie
    );
  </script>
</div>
