<!DOCTYPE html>
<html>
  <head>
    <title>HiringElastic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
  </head>
  <body class="bg-auth bg-gray-100 text-gray-800">
    <%= render 'shared/navbar' %>
    <%= yield %>
    <script>
      setTimeout(function() {
        const notice = document.querySelector('#notice');
        if (notice && notice.dataset.noticeVisible === 'true') {
          notice.style.display = 'none';
        }
      }, 5000);
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        var ctx = document.getElementById('salaryDistributionChart').getContext('2d');
        var chart = new Chart(ctx, {
          type: 'bar',
          data: <%= @chart_data.to_json.html_safe %>,
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      });
    </script>
  </body>
</html>
